{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}

        <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
            {{ if .Params.thumbnail }}
            <div class="post-thumbnail">
                <a href="{{ .RelPermalink }}">
                <img src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy">
                </a>
            </div>
            {{ end }}
            <div class="post-title">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
            </div>
            <div class="post-content">
                <div class="p_part"><p>{{ .Summary }}</p></div>
            </div>
            <div class="post-footer">
                <div class="meta">
                    <div class="info">
                       <!-- <em class="fas fa-calendar-day"></em>-->
                       <em class="fas fa-info-circle"></em>
                            <!-- <span class="date">{{ if isset .Site.Params "indexdateformat" }} 
                                                 {{ .Date.Format .Site.Params.indexDateFormat }} 
                                             {{ else }} {{.Date.Format "Mon, Jan 2, 2006"}} 
                                             {{ end }}</span> -->
                        {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                        {{ with .Params.tags }}
                            {{- range $index, $el := . -}}
                                <a class="tag"
                                   href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                            {{- end -}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
    <div class="pagination">
        {{ template "_internal/pagination.html" . }}
    </div> 
{{ end }}
